---

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const dogs = await fetch(
    "https://pokeapi.co/api/v2/ability/?limit=20&offset=20",
    {
        headers: {
            "CONTENT-TYPE": "application/json",
        },
    },
);

const dogBreeds = await dogs.json();
---

<script>
    // Import npm modules.
    import confetti from "canvas-confetti";

    // Find our component DOM on the page.
    const buttons = document.querySelectorAll("[data-confetti-button]");

    // Add event listeners to fire confetti when a button is clicked.
    buttons.forEach((button) => {
        button.addEventListener("click", () => confetti());
    });
</script>

<html lang="en">
    <head>

    </head>
    <body>

        <main>

            <video width="1080" height="720" controls>
                <source
                    src="https://fl5.moveonjoy.com/HBO_2/index.m3u8"
                    type="video/mp4"
                />
                Your browser does not support the video tag.
            </video>

            <video width="1080" height="720" controls>
                <source
                    src="https://latv-rcn-xtra-1-mx.tcl.wurl.tv/playlist.m3u8"
                    type="video/mp4"
                />
                Your browser does not support the video tag.
            </video>

            <button data-confetti-button>Celebrate!</button>

        </main>

    </body>
</html>
